@model Frontend.VehicleService.VehicleUpdate

<form action="Vehicles/EditVehicle" method="post">
    <input name="Id" value="@Model.Id" type="hidden" />
    <div class="modal-header">
        <h5 class="modal-title">Edytuj Pojazd</h5>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="form-label">Marka</label>
            <input name="Brand" value="@Model.Brand" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Model</label>
            <input name="Model" value="@Model.Model" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Cena</label>
            <input name="Price" value="@Model.Price" class="form-control" inputmode="decimal" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Waluta</label>
            <select name="Currency" class="form-control" required>
                @foreach (var currency in Model.Currencies)
                {
                    <option value="@currency" @(currency == Model.Currency ? "selected" : "")>
                        @currency
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Zastosuj</button>
    </div>
</form>